.navbar {
    overflow: hidden;
    background-color: #b7d7e8;
    position: fixed;
    top: 3;
    width: 97.5%;
    height: 10%;
    border-radius: 8px;
  }

  .navbar span {
    font-size : 35px;
    margin:20px 20px;
  }

  .navbar label {
    font-size: 30px;
    font-weight: 600;
    margin-top:20px;
  }

  .rounded-corners {
    border-radius: 5px;    
}

.filter-list-container {
    padding: 13px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color : #cfe0e8;
    height:100%;
    min-height: 100%;
}

.filter-container {
   padding: 13px;
   border-style: solid;
   border-width: 1px 1px 1px 1px;
   background-color : #cfe0e8;
   height:642px;
}