<div fxFlex="100" fxLayout="column" fxLayoutGap="80px">
        <div fxFlex="3" fxLayout="row">
           <div fxLayout="row" fxLayoutGap="10px" class="navbar">
                <span><i class="fa fa-plane"></i></span>
                <label>Flight Search Engine</label>
           </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%">
                <div fxFlex="30"  fxLayout="column">
                    <div class="filter-container rounded-corners">
                        <app-filter (filterChange) = "filterReceived($event)" (slicerChange) = "slicerChangeReceiver($event)"></app-filter>
                    </div>            
                </div>
                <div fxFlex="70" class="filter-list-container rounded-corners" fxLayout="column">
                        <app-flight-list [filterToList]="filterToList" [changedSlicerValue] = "changedSlicerValue"></app-flight-list>
                </div>
        </div> 
</div>