<div class="filter-container rounded-corners" flexLayout = "column" fxLayoutGap="4%">
    <div class="tab">
        <button class="tablinks active" (click)="openTab($event, 'oneWay')">One Way</button>
        <button class="tablinks" (click)="openTab($event, 'return')">Return</button>
      </div>
        <form (ngSubmit)="submitFilter(filter)" #filter="ngForm">
          <div>
            <select class="rounded-corners dropdown margin-top-20" [(ngModel)]="sourceCity" (change)="sourceCitySelection($event.target.value)" name="sourceCity" required>
              <option [value]="undefined" disabled  selected> Enter Origin City </option>
              <option *ngFor="let city of sourceCityList" 
                [value]="city.cityName">
                {{city.cityName}}
              </option>
            </select>
          </div> 
          <div>
            <select class="rounded-corners dropdown margin-top-20" [(ngModel)]="destinationCity" required name="destinationCity">
              <option [value]="undefined" disabled  selected> Enter Destination City </option>
              <option *ngFor="let city of destinationCityList" 
                  [value]="city.cityName">
                  {{city.cityName}}
              </option>
            </select>
          </div>
          <div>
            <input type="date" name="departureDate" [value]="departureDate" max="{{returnDate}}" [(ngModel)]="departureDate" required class="margin-top-20 datePicker rounded-corners"/>
          </div>
          <div *ngIf="showReturnDate">
              <input type="date" name="returnDate"  min="{{departureDate}}" [value]="returnDate" [(ngModel)]="returnDate" required class="margin-top-20 datePicker rounded-corners"/>
          </div>
          <div>
            <select class="rounded-corners dropdown margin-top-20" [(ngModel)]="passengers" required name="passengers">
              <option [ngValue]="undefined" disabled  selected> Passengers</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div>
              <button type="submit" class="margin-top-20 action-button" [disabled]="!filter.form.valid">Search</button>
          </div>
        </form>
</div>
<div class="slicer-container margin-top-20 rounded-corners">
    <label class="margin-top-20">Refine fllight search with price</label>
    <div flexLayout = "column" fxLayoutGap="4%">
        <div fxFlex="80">
          <label>{{minFlightRangePrice | currency:'INR'}}</label>
        </div>
        <div fxFlex="80" fxLayoutAlign="end end">
          <label>{{maxFlightRangePrice | currency:'INR'}}</label>
        </div>
    </div>
    <input #range type="range" [(ngModel)] = "costRange" name="costRange" class="slicer  margin-top-20"
      min="{{minFlightRangePrice}}" max="{{maxFlightRangePrice}}" [value]="50000" (change)="onSlicerChange($event.target.value)"/>
      <div fxLayoutAlign="center center">
          <label class="margin-top-20">{{costRange | currency:'INR'}}</label>
        </div>
</div>