.trip {
    background-color : white;
    border-radius: 5px;
}

.book-flight {
    margin: 20px
}

.trip-details {
    margin: 15px
}
.flight-details{
    background-color: white;
    border-radius: 5px;
    height: 100px;
}
