<div flexLayout="column" flexLayoutGap="10px">
        <div class="flight-details" flexLayout="row" flexLayoutGap="10px" *ngIf="showdetailsHeader">
            <div fxFlex = "80">
                <h3 *ngIf="!filterToList.returnDate">{{filterToList.sourceCity }} > {{ filterToList.destinationCity }}</h3>
                <h3 *ngIf="filterToList.returnDate">{{filterToList.sourceCity }} > {{ filterToList.destinationCity }} > {{filterToList.sourceCity}}</h3>
            </div>
            <div fxFlex = "20" flexLayout="column" flexLayoutGap="30px" class="details-dates">
                <div>Depart: {{filterToList.departureDate | date}}</div>
                <div *ngIf="filterToList.returnDate">Return: {{filterToList.returnDate | date}}</div>
            </div>
        </div>
        <div class="trip" *ngFor = "let trip of trips">
            <div flexLayout="row" flexLayoutGap="10px" class="trip-details">
                <div fxFlex="35" class="trip-details">
                    <h3>{{trip.fare | currency:'INR'}}</h3>
                    <small>{{trip.flightCode}}</small><br>
                    <label>{{trip.sourceCity}} > {{trip.destinationCity}}</label>
                        <div>
                            <label>Depart: {{trip.departureTime}}</label><br>
                            <label>Arrive: {{trip.arrivalTime}}</label>
                        </div>
                </div>
                <div *ngIf=" filterToList && filterToList.returnDate" fxFlex="35" class="trip-details">
                        <h3>{{trip.fare | currency:'INR'}}</h3>
                        <small>{{trip.returnFlightCode}}</small><br>
                        <label>{{trip.destinationCity}} > {{trip.sourceCity}}</label>
                            <div>
                                <label>Depart: {{trip.returnDepartureTime}}</label><br>
                                <label>Arrive: {{trip.returnArrivalTime}}</label>
                            </div>
                </div>
                <div fxFlex = "30">
                    <button class="book-button action-button">Book this flight</button>
                </div> 
            </div>      
        </div>
        <div *ngIf="noRecordsFoundFlag" class="noRecorsfoundFlag">
            <label>No Flights for the selected filters</label>
        </div>
</div>
